@font-face {
  font-family: 'NotoSansLao-SemiCondensed';
  src: url('/fonts/NotoSansLao-SemiCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NotoSansLao-SemiCondensed', sans-serif;
}
